// Navigation Styles here

.nav-parent {
  border-bottom: 2px dashed #c0c0c0;
}

nav {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    padding: 0px 20px;
    a {
      font-size: 1.6rem;
      font-weight: 550;
      text-decoration: none;
    }
  }
  @media @mobile {
    align-items: center;
    flex-flow: column;
    margin: 15px auto;
    h1 {
      font-size: 3rem;
      padding-bottom: 10px;
    }
    ul {
      width: 100%;
      justify-content: space-around;
      padding: 0;
    }
  }
}
